<br>
    <div class="panel-heading">
        <h3 align="center" class="panel-title">Welcome to web application!</h3>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="row left-offset-250">  
        <a href="/radnik" >
            <img src="assets/radnik.png" style="align-items: right;" width = "150" height="150" title="Klikom na sliku precicete na stranicu sa informacijama o radniku"/>
        </a>
        <a href="/plata" >
            <img src="assets/plata.png" style="align-items: center;" width = "150" height="150" title="Klikom na sliku precicete na stranicu sa informacijama o platama"/>
        </a>
        <a href="/pozicija" >
            <img src="assets/pozicija.png" style="align-items: left;" width = "150" height="150" title="Klikom na sliku precicete na stranicu sa informacijama o pozicijama"/>
        </a>
    </div>

    